body{
    background:#333;
    color:#fff;
}

table{
    font-family:'Bree Serif', cursive;
    font-size:40px;
    margin: 0 auto;
    border:5px groove #CCC;
    padding: 18px;
    vertical-align: middle;
}

form{
    width: 100px;
    margin: 0 auto;
}